<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @bike.make.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @bike.family %>
</p>

<p>
  <strong>Tyre size:</strong>
  <%= @bike.tyre_size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @bike.color %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
